* {
    background-color: black;
    color: white;
}

.logo {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 35pt;
    letter-spacing: 5px;
    background: linear-gradient(90deg, #676767, #808080, #A9A9A9, #818589, #899499, #C0C0C0, #71797E);
    background-size: 400%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 10s linear infinite;
}

@keyframes animate {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 400%;
    }
}

[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

.tabs {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 0;
    border: 1px solid;
    border-radius: 10px;
}

.tab {
    cursor: pointer;
}



.tab:hover {
    color: #888;
}


 #home {
    text-align: center;
}

#about {
    text-align: center;
}

#services {
    text-align: center;
}

#book {
    text-align: center;
}

#reviews {
    text-align: center;
}